doctype html
html
  head
    title= title
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous")
    link(rel="stylesheet", href="css/style.css")
  body
    div#app
      if user
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
          div.container
            a(href="/").navbar-brand #{user.username}のTODOリスト
            a(href="/logout").text-right.btn.btn-info.btn-sm ログアウト
        div.container
          add_todo(@update="listUpdate")
          div(role="group").btn-group.d-flex.tabs
            input(type="radio" id="tab1" name="tab" value="1" v-model="isActive")
            label(for="tab1").page-link.text-dark.d-inline-block.w-100 タスク
            input(type="radio" id="tab2" name="tab" value="2" v-model="isActive")
            label(for="tab2").page-link.text-dark.d-inline-block.w-100 完了済みのタスク
            input(type="radio" id="tab3" name="tab" value="3" v-model="isActive")
            label(for="tab3").page-link.text-dark.d-inline-block.w-100 履歴
          ul
            li(v-if="isActive === '1'").p-1
              todo_list(v-for="todo in todos" :id="todo._id" :title="todo.title" :description="todo.description" :deleted_at="todo.deleted_at" @update="listUpdate" @modal="modal")
            li(v-else-if="isActive === '2'")
              comp_todo(v-for="todo in comptodos" :id="todo._id" :title="todo.title" :description="todo.description" :deleted_at="comptodos.deleted_at" @update="listUpdate") 
            li(v-else-if="isActive === '3'")
              todo_hist(v-for="hist in hists" :id="hist._id" :title="hist.title" :description="hist.description" :created_at="hist.created_at" :deleted_at="hist.deleted_at" :completed_at="hist.completed_at")
        edit_modal(v-if="isModalActive" :id="this.id" :title="this.title" :description="this.description" @modal="modal")
      else
        a(href="/auth/github").btn.btn-info GitHubでログイン
    script(src="/js/bundle.js")
